* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-image: url(assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    display: flex;
    justify-content: center;
}

.main {
    width: 810px;
    height: 2000px;
    display: flex;
    background-color: silver;
    align-items: flex-start;
    justify-content: center;
}

/* take out main height and weight before turning in */

nav {
    padding-top: 50px;
    width: 810px;
    display: flex;
    justify-content: space-between;
}

.navlink {
    background: rgb(194, 54, 54);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 27px;
    padding-left: 27px;

}

nav a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.hero {
    width: 790px;
    height: 250px;
    border: 10px solid white;
    overflow: hidden;
    position: absolute;
    margin-top: 100px;
}

.hero .underphoto {
    position: relative;
    margin: -100px 50px -100px -180px;
    filter: brightness(80%);
    filter: contrast(65%)

}

.hero .overlay {
    position:absolute;
    top: 50px;
    bottom:0;
    right:10;

}

 .textboxes {
    height: 310px;
    width: 810px;
    position: absolute;
    margin-top: 450px;
    display: flex;
    flex-direction: row;
 }

/* .textboxes .item1 {
    height: 250px;
    width: 234px;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 450px;
}

.textboxes .item2 {
    height: 250px;
    width: 234px;
    background-color: white;
    position: absolute;
    margin-top: 450px;

}

.textboxes .item3 {
    height: 250px;
    width: 234px;
    background-color: white;
    position: absolute;
    margin-top: 450px;

}
 */

 .textboxes ul {
     width: 810px;
     display: flex; 
     justify-content: space-between;
     list-style: none;
     padding: 0 0 0 0;
     margin: 0;

 }

 .textboxes li {
     width: 240px;
     /* border-right: 10px solid #999; */
     /* background-clip: padding-box; */
     padding: 0px 30px 0px 30px;
     /* text-align: left; */
     background: white;

     margin-right: 5px;
     /* color: rgb(71, 70, 70);
     font-size: 12px;
     font-weight: lighter; */

 }

 span {
    text-align: left;
    font-size: 12px;
    font-weight: lighter;
}

 .textboxes li a {
    color: rgb(194, 54, 54);
    font-weight: bold;     
    text-decoration: none;
    /* text-align: center; */
 }

h3 {
    color: rgb(87, 86, 86);
    font-weight: normal;
    font-size: 20px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    line-height: 20px;

}

h6 {
    color: silver;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}