* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


header {
    width: 1000px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}
/* #bkimg {
    background-image: url(images/bg.jpg);
    background-size:cover;
    filter: brightness(80%);
    filter: contrast(65%)
} 
Watched video and couldn't get this bkimg method to work 
quickly enough so cheated by 
changing the background image in photoshop and uploaded new 
image to images folder.  Planned to come back.  Ran out 
of time */ 

h1 {
    font-size: 38px;
    text-align: center;
    color: white;
    line-height:95%;
   
}


h3 {
    color: rgb(87, 86, 86);
    font-weight: normal;
    font-size: 20px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    line-height: 20px;

}

h4 {
    color: rgb(87, 86, 86);
    font-weight: normal;
    font-size: 20px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    line-height: 20px;
    letter-spacing: 1px;

}

h6 {
    color: silver;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.top {
    display: flex;
    justify-content: center;
}

.main {
    width: 810px;
    height: 2000px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Probably should have named something other than main Come back
to this */

nav {
    padding-top: 50px;
    width: 810px;
    display: flex;
    justify-content: space-between;
}

.navlink {
    background: rgb(194, 54, 54);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 27px;
    padding-left: 27px;

}

nav a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.hero {
    width: 790px;
    height: 250px;
    border: 10px solid white;
    overflow: hidden;
    position: absolute;
    margin-top: 100px;
}

/* .hero .herobg {
        position: relative;
        margin: -100px 50px -100px -180px;
        THIS IS THE GRID THAT SHOULD GO UNDER THE HERO PHOTO - 
        no time left to figure it out how to make it work
} */


.hero .underphoto {
    position: relative;
    margin: -100px 50px -100px -180px;
    filter: brightness(80%);
    filter: contrast(65%)

}

.hero .overlay {
    position:absolute;
    top: 50px;
    bottom:0;
    right:10;

}

 .textboxes {
    height: 310px;
    width: 810px;
    position: absolute;
    margin-top: 420px;
    display: flex;
    flex-direction: row;
 }

/* .textboxes .item1 {
    height: 250px;
    width: 234px;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 450px;
}
.textboxes .item2 {
    height: 250px;
    width: 234px;
    background-color: white;
    position: absolute;
    margin-top: 450px;
}
.textboxes .item3 {
    height: 250px;
    width: 234px;
    background-color: white;
    position: absolute;
    margin-top: 450px;
}
 */

 .textboxes ul {
     width: 815px;
     display: flex; 
     justify-content: space-between;
     list-style: none;
     padding: 0 0 0 0;
     margin: 0;

 }

 .textboxes li {
     width: 240px;
     padding: 0px 30px 0px 30px;
     background: white;
     margin-right: 5px;
 }

 span {
    text-align: left;
    font-size: 12px;
    font-weight: lighter;
}

 .textboxes li a {
    color: rgb(194, 54, 54);
    font-weight: bold;     
    text-decoration: none;
    /* text-align: center in message textbox -- can't figure it out; */
 }



.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 20px;
    margin-top: 750px;
    width: 800px;
    height: 500px;
    padding-right: 10px;
    position: absolute;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid white;
    /* object-fit: fill; */
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}


.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;

}


.text--1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

}

.text--2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
} 

.text--3 {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
} 

.text--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
} 




.center {
    text-align: center;
}

.skateboards {
    width: 810px;
    height: 250px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    margin-top: 1180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skateboards .fit {
    height: 80%
}

.contact {
    width: 750px;
    height: 275px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    margin-top: 1450px;
    display: flex;
    flex-direction: columm;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.contact .contacttext {
    width: 350px;
    padding: 20px;
    font-size: 14px;
    color: gray;
    line-height: 1.50em;
    margin-bottom: 80px;
}


input::placeholder {
    color: rgb(201, 200, 200);

/* HOW THE HECK DO MAKE THIS TEST ALIGN TO THE TOP? */

}

.form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.form input {
    width: 300px;
    align-content: space-around;
    margin-bottom: 10px;
    border-color: silver;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;

}

.submit {
    color: white;
    background-color: rgb(194, 54, 54);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    width: 175px;
    margin-left: 135px;

}

#firstname {
    height: 20px;

}

#email {
    height: 20px;
}

#yourmessage {
    height: 100px;
}